<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
    <div id = "main">


        <!-- NAV-BAR -->       
        <div id="nav-bar">
            <img src = "static/Logo2.png">
            <h4 id = "quanta">SECURE-SURF</h4>
            <a href = "/">HOME</a>
            <a href = "/about">ABOUT</a> 
            <a href = "/contact">CONTACT</a>
        </div>

        <div id = "title">About Us</div>

        <div id="container">
            <section>
                <p>This project focuses on developing an intelligent phishing attack detection system using deep learning techniques. With the rapid increase in online threats, phishing has emerged as one of the most common and dangerous cybercrimes. To address this, our system leverages two powerful deep learning models—Convolutional Neural Networks (CNN) and Multi-Layer Perceptrons (MLP)—to accurately classify URLs and web content as either legitimate or phishing. The CNN model is used to automatically extract spatial features from the input data, while the MLP model captures deeper, non-linear relationships for improved prediction accuracy. By training and evaluating both models on a labeled phishing dataset, we aim to create a robust detection mechanism that enhances online security and minimizes user exposure to fraudulent websites.

</p>
            </section>
        </div>
    </div>
</body>
</html>